<!-- Add border to get sense of spatial dynamics -->
<div flex layout="row">

	<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
		<h2>Sidenav</h2>
	</md-sidenav>

	<md-content flex>
		<h2>Diagnosis Codes</h2>

		<md-input-container>
			<label>Diagnosis Code 1</label>
			<input type="text" placeholder="Enter a diagnosis code">
		</md-input-container>
			
		<md-input-container>
			<label>Diagnosis Code 2</label>
			<input type="text" placeholder="Enter a diagnosis code">
		</md-input-container>
			
		<md-input-container>
			<label>Diagnosis Code 3</label>
			<input type="text" placeholder="Enter a diagnosis code">
		</md-input-container>
			
		<md-input-container>
			<label>Diagnosis Code 1</label>
			<input type="text" placeholder="Enter a diagnosis code">
		</md-input-container>
			
		<md-input-container>
			<label>Diagnosis Code 1</label>
			<input type="text" placeholder="Enter a diagnosis code">
		</md-input-container>

	</md-content>

</div>
